.page {
  max-width: 800px;
  margin: 0 auto;
  @media screen and (max-device-width: 800px) {
    margin: 0 20px;
  }
  // background: $grayLighter;
  clear: both;
  &.home {
    .logo {
      width: 100%;
      height: 150px;
      display: inline-block;
      margin-bottom: 1em;
      background-image: url("/images/yousurge.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .tagline {
      font-size: 20px;
      text-align: center;
      color: $slate;
      font-family: verdana;
      margin-bottom: 30px;
    }

    .menu {
      li {
        text-align: center;
        a {
          @extend %button;
          width: 200px;
        }
      }
    }
  }
}

