%button {
  box-sizing: border-box;
  display: inline-block;
  clear: both;
  padding: 20px 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: $slate;
  font-size: 20px;
  color: #eee;
  &:hover {
    cursor: pointer;
    background-color: $blue;
  }
}