/* This file is for your main application css. */

@import "variables";
@import "placeholders";
@import "page";
@import "page/operations";
@import "page/login";
@import "components/controls";
@import "components/viewer";
@import "components/search";

body, main {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: verdana;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cMessage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ccc;
  a {color: #eee}
  background: $slate;

  &.alert {
    color: #fff;
    background: $red;
  }
}
