.page.login {
  text-align: center;
  ul li a {
    @extend %button;
    width: 100%;
  }
  input[type=text],
  input[type=password] {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 5px 10px;
  }
  button {
    @extend %button;
    width: 150px;
    padding: 10px;
  }
}