.page.operations,
.page.scenes {
  .cSearchContainer {
    display: block;
    float: right;
  }
  h1 {
    margin-left: 50px;
  }
  ul li a {
    display: block;
    box-sizing: border-box;
    margin: 10px 20px;
    padding: 5px 20px;
    border-left: 5px solid $blue;
    color: #333;
    transition: all 0.5s ease-in-out;
    &:hover {
      background: $blueLighter;
    }
    .title,
    .description,
    .tags {
      margin-left: 5px;
      margin-bottom: 10px;
    }
    .title {
      font-size: 22px;
      font-weight: bold;
    }

    .tags {
      text-align: right;
      font-size: 12px;
      font-style: italic;
    }
  }
}