.cSearch {
  position: relative;
  width: 400px;
  transition: all 0.5s ease-in-out;
  &.hasResults {
    a {
      transition: all 0.5s ease-in-out;
      opacity: 1;
    }
  }

  a {
    opacity: 0;
  }
  input {
    display: block;
    box-sizing: border-box;
    outline: none;
    box-shadow: none;
    border: 2px solid $blue;
    padding: 10px;
    font-size: 13px;
    width: 200px;
    margin-left: 200px;

  }
}

.cSearchResults {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 20px;

  .sceneResults {
    margin-top: 40px;
  }
  .title {
    font-weight: bold;
    font-size: 15px;
  }

  .item {
    color: #000;
    padding: 5px 10px;
    margin: 10px 0;
    border-left: 2px solid $blue;
    &:hover {
      background: $blueLighter;
    }
  }

  &.hasResults {
    height: auto;
    background: #efefef;
    // -webkit-box-shadow: 3px 7px 5px -4px rgba(0,0,0,0.32);
    // -moz-box-shadow: 3px 7px 5px -4px rgba(0,0,0,0.32);
    // box-shadow: 3px 7px 5px -4px rgba(0,0,0,0.32);

  }
}
