.cViewerWrapper,
.cViewer {
  position: absolute;
  height: 100%;
  width: 100%;
}

.cViewer {
  a-scene {
    // position: absolute;
    // width: 100%;
    // height: 100%;
    top: 40px;
  }
  &.waiting {
    position: absolute;
    top: 40%;
    width: 100%;
    color: $slate;
    font-size: 30px;
    text-align: center;
  }

}

