  <div class="container">
    <div class="page home">
      <div class="logo"></div>
      <div class="tagline">Virtual Reality Operating Room</div>
      <ul class="menu"> 
        <%= if @current_user do %>
          <li><%= link "Browse operations", to: operation_path(@conn, :index) %></li>
          <li><%= link "Open Viewer", to: "/viewer" %></li>
        <% else %>
          <li><%= link "Register", to: session_path(@conn, :new) %></li>
          <li><%= link "Log in", to: session_path(@conn, :new) %></li>
        <% end %> 
      </ul>
    </div>
  </div--> <!-- /container -->
