<div class="page operations">
  <div class="cSearchContainer"></div>
  <h1>Operaties</h1>
  <ul>
    <%= for operation <- @operations do %>
      <li><a href="/operations/<%= operation.id %>/scenes">
        <div class="title"><%= operation.title %></div>
        <div class="description"><%= operation.description %></div>
        <div class="tags"><%= nice_tags(operation.tags) %></div>
      </a></li>
    <% end %>
  </ul>
</div>
<script src="<%= static_path(@conn, "/js/controls.js") %>"></script>

