<div class="page scenes">
  <h1>Scenes</h1>
  <ul>
    <%= for scene <- @scenes do %>
      <li><a href="/operations/<%= scene.operation_id %>/scenes/<%= scene.id %>"><%= scene.title %></a></li>
    <% end %>
  </ul>
</div>