<div class="cControls">
</div>

<script>
  window.operationId = <%= @operation_id %>
  window.sceneId = <%= @scene_id %>
</script>
<script src="<%= static_path(@conn, "/js/controls.js") %>"></script>

